<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8" />
<title>Sistema de Gestão de Produtos</title>



</head>
<body>
	

	<div class="container my-2">
		<a th:href="@{/rh/produtos/nova}" class="btn btn-primary btn-sm mb-3">Incluir Produto</a>
		<h1>Produto</h1>
		<table border="1" class="table table-striped table-responsive-md">
			<thead>
				<tr>
					<th>Nome</th>
					<th>Preco</th>										
					<th>Quantidade</th>				
					<th>Ações</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="produto : ${listaProdutos}">
					<td th:text="${produto.nome}"></td>
					<td th:text="${produto.preco}"></td>
					<td th:text="${produto.quantidade}">
					</td>
					
					<td>
						<a th:href="@{/rh/produtos/{id}(id=${produto.id})}" class="btn btn-primary">Alterar</a>
						<a th:href="@{/rh/produtos/excluir/{id}(id=${produto.id})}" class="btn btn-danger">Excluir</a>	
					</td>
				</tr>
			</tbody>
		</table>
		<nav aria-label="...">
		    <ul class="pagination">
			    <li th:if="${listaProdutos.totalPages > 0}" th:each="numeroPagina : ${numerosPaginas}"
			    	th:class="${numeroPagina==listaProdutos.number + 1} ? 'page-item active' : 'page-item'">
			    	<a class="page-link" th:href="@{/rh/produtos(size=${listaProdutos.size}, page=${numeroPagina})}"
			        th:text=${numeroPagina}></a>
			    </li>
		    </ul>
		</nav>
	</div>
</body>
</html>